.logo {
    width: 120px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}
.nav-list li {
    margin: 0 10px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.container {
    padding: 5px;
  }
  
  .expand-icon {
    cursor: pointer;
  }
  .icon {
    padding: 2px;
    margin: 3px;
    font-size: 10px;
  }

  .app-list {
    display: flex;
    list-style: none;
  }
  .list-item {
    cursor: pointer;
    margin: 0 7px;
  }
  .list-item:hover {
    color: lightblue;
  }

  .list-item.active {
    color: lightblue;
    cursor: no-drop;
  }